

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* font-family: "Oswald", sans-serif; */
    font-style: normal;
    font-weight: 500;
    scroll-behavior: smooth;
    position: static;
}
.project-position-header{
    display: grid;
    grid-template-columns: auto;
}
.divider{
    width: 80vw;
    height: 2px;
    background: linear-gradient(90deg, rgba(164, 225, 214, 0.44) 0%, rgba(223, 195, 155, 0.682) 0.01%, rgba(137, 217, 204, 0.315) 100%);
    opacity: 0.4;
}
.web-projects-preview-container img{
    width: 30vw;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-item {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .project-item.show {
    opacity: 1;
    transform: translateY(0);
  }
  
.project-header-layout{
    display: grid;
    grid-template-columns: auto;
}
.icon-spacing {
    margin-left: 100px; /* Adjust the value to set the desired space */
}
.header-container{
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    gap: 10px;
    background: linear-gradient(90deg, rgba(164, 225, 214, 0.44) 0%, rgba(223, 195, 155, 0.682) 0.01%, rgba(137, 217, 204, 0.315) 100%);
    border-radius: 0px 0px 100px 100px;
    color: black;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 6px 6px 12px lightgray;
    padding-top: 30px;

}
.header-container > span{
    padding: 10px;
}

.header-container > span:hover{
    cursor: pointer;
    background: #fdffe3b6;
    color: black;
    border-radius: 3px;
    
}




.about-container{
    position: relative;
    z-index: -1;
    padding: 20px;
}

.about-section{
    display: grid;
    grid-template-columns: auto auto;
    z-index: -1;
    background: linear-gradient(40deg, rgba(176, 92, 88, 0.711) 0%, rgba(217, 217, 217, 0.405) 0.01%, rgba(5, 199, 163, 0.324) 100%);
    width: 90vw;
    border-radius: 12px;
    box-shadow: 14px 6px 20px 7px rgba(0, 0, 0, 0.11);   
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(5px); 

}
.about-image{
    width: 180px;
    /* background-color: darkgray; */
    margin: 30px;
    border: 6px solid rgba(82, 222, 196, 0.606);
    border-radius: 100px;
    padding: 5px;
}
.pfp{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 100px;
}
.about-info{
    margin: 50px;
}
.section-label{
    background: #fdffe36e;
    border-radius: 4px;
    padding: 0px 20px 0px 20px;
    box-shadow: 6px 6px 10px rgba(169, 169, 169, 0.561);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}
.project-category-container{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.project-category-container > div{
    width: 40vw;
}
.project-category-container > a:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;

}

.project-category-thumbnail{
    
    width: 40vw;
    border-radius: 12px;
}

.label-container{
    padding-top: 30px;
}
.about-links{
    position: absolute;
    z-index: 1;
    right: 15%;
}
.about-links > a > i{
    font-size: 25px;
}

.projects-container{
    /* display: grid;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px; */
    display: grid;
    position: relative;
    z-index: 1;


}
.projects-display{
    width: 90vw;
    border-radius: 0px 50px 0px 50px;
    display: grid;
    grid-template-columns: auto auto;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: linear-gradient(90deg, rgba(176, 92, 88, 0.711) 0%, rgba(217, 217, 217, 0.405) 0.01%, rgba(66, 205, 180, 0.25) 100%);
    box-shadow: 14px 6px 20px 7px rgba(0, 0, 0, 0.11);
    padding: 10px;
}
.projects-display-2{
    border-radius: 12px;
   
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: linear-gradient(90deg, rgba(176, 92, 88, 0.711) 0%, rgba(217, 217, 217, 0.405) 0.01%, rgba(66, 205, 180, 0.25) 100%);
    box-shadow: 14px 6px 20px 7px rgba(0, 0, 0, 0.11);
    padding: 10px;
}
.project-description{
    margin-top: 10px;
    font-size: 18px;
}
.project-description-2{
    margin-top: 10px;
    font-size: 18px;
}
.description-ul > li > span{
    color: green;
    font-size: 17px;
    font-weight: bold;

}

.projects-position{
    /* margin: 10px; */
    margin-top: 30px;
    margin-bottom: 30px;
}
.project-image{
    /* background-color: darkgray; */
    border-radius: 8px;
    height: 10vw;
    border: 1px solid rgba(59, 194, 149, 0.406);
}
.project-image-2{
    /* background-color: darkgray; */
    border-radius: 8px;
    width: 25vw;
    height: 13vw;
    border: 1px solid rgba(59, 194, 149, 0.406);
}
.project-image-3{
    position: absolute;
    z-index: -1;
    translate: -100px 130px;
    /* background-color: darkgray; */
    border-radius: 8px;
    /* height: 30vh; */
    border: 1px solid rgba(59, 194, 149, 0.406);
    opacity: 0.7;
    scale: 1.4;
}
.projects-link > div{
    padding-bottom: 10px;
}
.pw-link-icon{
  padding-left: 20px;
}
.projects-link > a:hover{
 scale: 1.2;
}
.contact-icons > a:hover{
  /* font-size: 1.2; */
}
.res-cert-container{
    padding: 30px;
}
.res-cert-section{
    position: relative;
    display: grid;
    grid-template-columns: auto;
    background: linear-gradient(90deg, rgba(176, 92, 88, 0.711) 0%, rgba(217, 217, 217, 0.405) 0.01%, rgba(66, 205, 180, 0.25) 100%);
    box-shadow: 14px 6px 20px 7px rgba(0, 0, 0, 0.11);
    width: 90vw;
    border-radius: 12px;
    padding: 20px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);


}

input[type="text"], input[type="email"]{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-color: black;
    width: 50vw;
    height: 3vh;
    font-size: 20px;
}
.certs-position{
    display: grid;
    grid-template-columns: auto auto;
}
button[type="submit"]{
    background-color: rgb(46, 46, 46);
    color: white;
    border-radius: 12px;
    border: 0px;
    padding: 0px 15px 0px 15px;
    padding: 10px;
    

}
button[type="submit"]:hover{
    cursor: pointer;
    background-color: greenyellow;
    color: black;
}
textarea{
    background-color: rgb(46, 46, 46);
    color: white;
    border-radius: 12px;
    width: 50vw;
    font-size: 20px;
}
::placeholder{
   padding-left: 5px;
}
.footer-container-2{
    margin-top: 300px;
}
.footer-section{
    background: linear-gradient(90deg, rgba(164, 225, 214, 0.44) 0%, rgba(223, 195, 155, 0.682) 0.01%, rgba(137, 217, 204, 0.315) 100%);
    width: 100vw;
    height: 200px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}
a, a:active, a:visited{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color: rgb(98, 109, 82);
}
.footer-divider{
 background-color: rgba(0, 0, 0, 0.573);
 height: 100px;
 width: 2px;
 border-radius: 100px;

}
.footer-content-grid{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    /* gap: 10px; */
    margin: 30px;
    padding-top: 10px;
    font-size: 14px;
}
.copyright{
   position: absolute;
   bottom: 0;
   right: 40%;
}


.page-layers-container{
    position: relative;


}
.top-layer-container{
    position: absolute;
    z-index: 100;

}

.mid-layer-container{
    position: absolute;
    z-index: -100;

}
/* .mid-layer-style{
    background: linear-gradient(90deg, rgba(66, 205, 180, 0.778) 0%, rgba(174, 232, 219, 0.682) 0.01%, rgba(66, 205, 180, 0.44) 100%);
    height: 100vh;
    width: 100vw;
    opacity: 0.2;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    
} */
.mid-layer-style-2{
    background: linear-gradient(90deg, rgba(66, 205, 180, 0.778) 0%, rgba(174, 232, 219, 0.682) 0.01%, rgba(66, 205, 180, 0.44) 100%);
    width: 100vw;
    opacity: 0.2;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    
}
.last-layer-container-1{
    position: absolute;
    z-index: -2;
    right: 10%;
    margin-top: 110px;
    
}
.last-layer-container-2{
    position: absolute;
    z-index: -2;
    left: 10%;
    margin-top: 200px;

   
    
}
.last-layer-container-3{
    position: absolute;
    z-index: -2;
    right: 10%;
    margin-top: 750px;

 
}
.last-layer-container-4{
    position: absolute;
    z-index: -2;
    right: 50%;
    margin-top: 800px;

 
}
.last-layer-container-5{
    position: absolute;
    z-index: -2;
    right: 90%;
    margin-top: 880px;

 
}

.last-layer-container-6{
    position: absolute;
    z-index: -2;
    right: 10%;

 
}
.last-layer-style{
  height: 120px;
  width: 80px;
  
  border-radius: 100px;
    background: linear-gradient(90deg, rgba(164, 225, 214, 0.44) 0%, rgba(223, 195, 155, 0.682) 0.01%, rgba(137, 217, 204, 0.315) 100%);
  filter: blur(25px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

}
.last-layer-style-2{
    height: 90px;
    width: 50px;
    border-radius: 100px;
    background: #6fb1da;
    filter: blur(19px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    opacity: 0.6;
  
  }
.last-layer-container-1, .last-layer-container-2, .last-layer-container-3, .last-layer-container-4, .last-layer-container-5, .last-layer-container-6{
    animation: blurred-sphere linear infinite 4s;

}

.fa-custom-1{
    font-size: 20px;
    padding: 20px;
}
.fa-custom-2{
    color: rgb(132, 12, 172);
}
.fa-custom-3{
    color: green;
}
.fa-custom-4{
    color: rgb(51, 88, 232);
}
.fa-custom-5{
    color: rgb(26, 133, 178);
    
}
.fa-custom-6{
    background: linear-gradient(135deg, #833ab4, #fd1d1d, #fecb45);
}
.fa-custom-bg{
    background-color: rgb(240, 248, 255);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.212);
    border-radius: 100px;
    mix-blend-mode: multiply;
    cursor: pointer;
}
@keyframes blurred-sphere {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        
      }
}

.title-heading{
    font-size: 20px;
    font-weight: bold;
}
.typed-strings{
  font-size: 34px;
  font-weight: bold;
  background: -webkit-linear-gradient(120deg, rgb(252, 134, 0), rgb(0, 82, 69));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: overlay;
  border: none;
}
/* i:hover{
 cursor: pointer;
} */

@media (max-width: 900px){
   
}


.fa-custom-7{
    font-size: 20px;
    padding: 20px;
    color: rgb(8, 35, 158);
}

.custom-label-style{
  font-weight: bold;
  font-size: 25px;
  background: -webkit-linear-gradient(120deg, rgb(252, 134, 0), rgb(0, 82, 69));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: overlay;
  border: none;
  padding: 10px;
}

.about-stack > span > i, .about-stack > span{
    font-size: 30px;
    padding: 10px;
    border-radius: 100px;
  
}
/* .stack-img {
 height: 70px;
 width: 60px;
 background-color: rgba(240, 248, 255, 0.462);
 box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.212);
 border-radius: 100px;
 padding: 10px;
}
.about-stack > span > i{

   background-color: rgba(240, 248, 255, 0.462);
   box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.212);
   border-radius: 100px;
  

} */

.horizontal-divider{
    background: -webkit-linear-gradient(120deg, rgb(252, 134, 0), rgb(0, 82, 69));
    width: 20vw;
    height: 2px;
    margin: 20px;

}

.slideshow-container {
    max-width: 70vw;
    margin: auto;
}


.description-container {
    max-width: 70vw; 
    margin: auto;
    padding: 20px; 
}

.slide {
    margin: 10px;
    display: none;
    animation: fade 2s ease-in-out;
}

.design-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.design-section > div > img{ 
    width: 40vh;
    border-radius: 12px;
}
.logo-section > div > img {
    width: 25vw;
    height: auto;
    border-radius: 12px;
}
.logo-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.logo-section > div, .design-section > div{
    margin: 50px;
}
.website-status-container, .website-status-container-2{
    position: relative;
}
.website-status-container div:nth-child(2), .website-status-container-2 div:nth-child(2){
    display: grid;
    grid-template-columns: 50px auto;
    margin-top: 15px;

}
.website-status-container div:nth-child(2) div, .website-status-container-2 div:nth-child(2) div{
 margin-top: 2px;
 animation: blink 6s infinite;

}
.website-status-container{
   display: grid;
   grid-template-columns: auto auto;
   color: green;

}
.website-status-container-2{
    display: grid;
    grid-template-columns: auto auto;
    color: red;
 
 }

@keyframes blink {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }
.status-icon{
    background-color: green;
    border-radius: 100px;
    height: 10px;
    width: 10px;
}
.status-icon-2{
    background-color: red;
    border-radius: 100px;
    height: 10px;
    width: 10px;

}
.slide img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.slide2 > img {
 
    width: 50vw;
    height: auto;
    border-radius: 12px;
}
.projects-link{
    position: absolute;
    z-index: 1;
    right: 10%;
}
.projects-link2{
    position: absolute;
    z-index: 1;
    right: 30%;
}
.circle-icons {
    position: absolute;
    right: 40%;
    z-index: 1;
   
}

.circle-icon {
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.2;
}

.circle-icon.active {
    opacity: 0.2;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}



#overlay {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#image-container {
    max-width: 100%;
    max-height: 100%;
}

#close-btn {
    position: absolute;
    top: 15px;
    right: -10%;
    cursor: pointer;
    color: red;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}
#slideshow-image{
    width: 80vw;
}
#show-old-image-btn, #show-new-images-btn {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    
}
.preview-buttons{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 100px;
   
}
#show-old-image, #show-new-images {

    cursor: pointer;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    border: none;
}
#show-new-images-title, #show-old-image-title{
    position: absolute;
    z-index: 1;
    translate: -5px -55px;
    background-color: rgba(0, 0, 0, 0.761);
    font-size: 18px;
    border-radius: 12px;
    font-weight: bold;
    color: #D6B337;
}


.blog-preview{
    background-color: gray;
    width: 20vw;
    border-radius: 12px;
}

.image-container {
    text-align: center;
  }
.thmbnail-imgs > img{
   width: 100px;
}

  .selected-image {
    display: block;
    margin: auto;
    height: auto;
  }
  .selected-image2{
    width: 65vw;
  }

  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.stack-container span{
  padding-right: 10px;
}




